<settings>
    <servers>
      <server>
         <id>repo</id>
         <username>admin</username>
         <password>admin123</password>
      </server>
      <server>
         <id>snapshots</id>
         <username>admin</username>
         <password>admin123</password>
      </server>
      <server>
         <id>releases</id>
         <username>admin</username>
         <password>admin123</password>
      </server>
      <server>
         <id>bppj</id>
         <username>admin</username>
         <password>admin123</password>
      </server>
   </servers>
   <mirrors>
      <mirror>
         <id>repo</id>
         <name>Nexus BPPJ</name>
         <url>http://127.0.0.1:8081/repository/maven_public</url>
         <mirrorOf>*</mirrorOf>
      </mirror>
   </mirrors>
   <pluginGroups>
      <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
   </pluginGroups>
   <profiles>
      <profile>
         <id>repos</id>
         <repositories>
            <repository>
               <id>repo</id>
               <url>http://127.0.0.1:8081/repository/maven-public/</url>
            </repository>
         </repositories>
      </profile>
   </profiles>
   <activeProfiles>
      <activeProfile>repos</activeProfile>
   </activeProfiles>
</settings>